body {
	background-color: black;
	font-family: "ocr-a-std", monospace;
}

#bgCanvas, #charCanvas, #start-menu, #end-menu {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}

#bgCanvas {
  background-color: black;
  z-index: 0;
}

#charCanvas {
  background-color: transparent;
  z-index: 1;
}

#start-menu, #end-menu {
	background-color: black;
	text-align: center;
	color: white;
	padding: 0;
	width: 900px;
	height: 900px;

  z-index: 101;
}

#end-menu {
  display: none;
}

#start-menu h1 {
	font-size: 12em;
}

#start-menu h2 {
	font-size: 6em;
	line-height: 0;
}

#start-menu p, #end-menu p {
	font-size: 3em;
}

#start-button, #restart-button {
	line-height: 1em;
	padding: 1px 40px;
	background-color: #ff66ff;
	margin: 0 auto;
}

#start-button {
  width: 20%;
}

#restart-button {
  width: 40%;
}

#start-button:hover, #restart-button:hover {
	cursor: pointer;
}

#heads-up-display {
	background-color: transparent;
	width: 900px;
	height: 142px;
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}

#scoreboard {
	text-align: center;
	color: white;
	border: solid green 1px;
	font-family: "ocr-a-std", monospace;
	width: 200px;
	height: 100px;
	float: right;
	background-color: black;
	margin: 20px;
	padding: 10px;
	z-index: 50;
}

#bottom-display {
	background-color: black;
	border: 1px solid green;
	width: 898px;
	height: 186px;
	display: block;
	position: absolute;
	top: 720px;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 50;
}

#controls, #characters {
	color: white;
	float: left;
	width: 409px;
	padding: 20px;
}

#up, #down {
	display: inline-block;
}

.label, .key {
	float: left;
	text-align: center;
}

.key {
	height: 58px;
	width: 68px;
	border: 1px solid white;
	padding-top: 10px;
}

.label {
	height: 58px;
	width: 120px;
	padding-top: 10px;
}

.character-label, .character-images {
	height: 58px;
	padding-top: 10px;
	float: left;
}

.character-label {
	width: 200px;
}

#hero {
	display: inline-block;
}
